<h1>Home#index</h1>

<%= link_to "up", {:action => 'up'}, :class => "button up"%>
<%= link_to "down", {:action => 'down'}, :class => "button down"%>
<%= link_to "left", {:action => 'left'}, :class => "button left"%>
<%= link_to "right", {:action => 'right'}, :class => "button right"%>
<%= link_to "center", {:action => 'center'}, :class => "button center"%>
