<h1>Simulation der Solarwash-Gerätesteuerung</h1>
<div id="output">
<table>	
  <tr><td class="middle">
      <table>
        <%OURDEVICES.each do |name, data|%>
        <tr>
          <% if name == @device[0] %>
            <td><b><%= name %></b></td>
        <% else%>
          <td><%= name %></td>
        <%end%>
        </tr>
      <% end %>
    </table>
  </td></tr>
</table>	
</div>	
<div id="buttons">
  <%= link_to "", '/home/up', :class => "button", :id => "up"%>
  <%= link_to "", '/home/down', :class => "button", :id => "down"%>
  <%= link_to "", '/home/left', :class => "button", :id => "left"%>
  <%= link_to "", '/home/right', :class => "button", :id => "right"%>
  <%= link_to "", '/home/center', :class => "button", :id => "center"%>
</div>	
