<h1>Simulation der Solarwash-Gerätesteuerung</h1>
<div id="output">
<%= "session[:menu]: #{session[:menu]}"%>	<br>
<%= "session[:device]: #{session[:device]}"%><br>
<%= "session[:program]: #{session[:program]}"%><br>
<%= "session[:level]: #{session[:level]}"%><br>
<%= "session[:time]: #{session[:time]}"%><br>
<%= "session[:tindex]: #{session[:tindex]}"%><br>
	
<table>	
  <tr><td class="middle">
    <%= case session[:menu] 
          when MAIN_MENU then render :partial => 'main_menu'
          when PROGRAM_SELECTION then render :partial => 'program_selection'
          when TIME_SELECTION then render :partial => 'time_selection'
          when WAIT_FOR_START then render :partial => 'wait_for_start'
       end %>
  </td></tr>
</table>	
</div>	
<div id="buttons">
  <%= link_to "", '/home/up', :class => "button", :id => "up"%>
  <%= link_to "", '/home/down', :class => "button", :id => "down"%>
  <%= link_to "", '/home/left', :class => "button", :id => "left"%>
  <%= link_to "", '/home/right', :class => "button", :id => "right"%>
  <%= link_to "", '/home/center', :class => "button", :id => "center"%>
</div>	
