<h1>Simulation der Solarwash-Gerätesteuerung</h1>

<div id="output">
<table>	
	<tr><td class="middle">output</td></tr>
</table>	
</div>	
<div id="buttons">
<%= link_to "", {:action => 'up'}, :class => "button up"%>
<%= link_to "", {:action => 'down'}, :class => "button down"%>
<%= link_to "", {:action => 'left'}, :class => "button left"%>
<%= link_to "", {:action => 'right'}, :class => "button right"%>
<%= link_to "", {:action => 'center'}, :class => "button center"%>
</div>	
